@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Yusei+Magic&display=swap');

.container  {
    box-shadow: -1px 4px 20px -6px rgba(62, 62, 62, 0.75);
    margin-left: 5%;
    margin-right: 5%;
}

.headerTitle{
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 10px;
    margin-top: 70px;
    padding-top: 10px
}


.referencedString {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.referencedString h4{
    border: 1px solid #3e3e3e;
    border-width: 5px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
}

.inputData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 80px;
}

.inputData h4{
    border: 1px solid #3e3e3e;
    border-width: 5px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
    margin-right: 10px;
}

.pageInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.pageInfo h4{
    border: 1px solid #3e3e3e;
    border-width: 5px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
    margin-right: 10px;
}

.pageInfo #pageFault{
    color: red;
    font-size: 1.3em;
}

.pageInfo #pageHit{
    color: green;
    font-size: 1.3em;
}